---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1> 😄 Welcome to my blog </h1>
			<p>
				Welcome to my oficial blog. Here I will share my thoughts, ideas and projects. I hope you enjoy it.
				i`m a software developer and i love to share my knowledge with the community.
				in this blog you are going to find my thoughts about life, technology and programming.
				I leave here my the link of my portfolio, if you want to know more about me.
				<a href="https://portafolio-sand-one.vercel.app/">My Portfolio</a> 
			</p>
			
		</main>
		<Footer />
	</body>
</html>
